/* Start Global Styling */
body {background-color: #484848}
/* End Global Styling */

/* Start Nav Bar */
nav .navbar-brand {color: #fff !important}

nav .navbar-brand span {color: #7352ff !important}

nav .navbar-brand:hover {color: #7352ff !important}


nav.navbar-inverse .navbar-nav>li>a:hover, 
nav.navbar-inverse .navbar-nav>li>a:focus {color: #fff}

nav .navbar-toggle {border: 1px solid #32325d}

nav.navbar-inverse .navbar-nav>li>a {color: #fff !important;}
/* End Nav Bar */


/* Start Header  */
header {
    background: url("../../img/header/sheep2.png");
    background-position: center;
    overflow: hidden;
}

header .overlay {
    background: rgba(0, 0, 0, .6);
    z-index: 2;
    position: relative;
}
/* End Header  */

/* Start Section Advices For Learning */
.advices-learning .info-section-advice {
    background: #2f2f2f;
}

.advices-learning .box2 {
    background: #2f2f2f;
}
/* End Section Advices For Learning */


/* Start Collection Box */
.collection {
    background: #2f2f2f
}
/* Ene Collection Box */


/* Start what you will get */
.what-will-get .about-what-will-get {
    background: #2f2f2f
}
/* End what you will get */


/* Start Grouping Element */
nav .navbar-brand,
nav .navbar-brand:hover span,
nav.navbar-inverse .navbar-nav>li>a,
header .info-header h1 span,
.advices-learning .info-section-advice h2 span,
.advices-learning .div-img h3,
.collection .collection-box-info h3,
.what-will-get .about-what-will-get h2 {
    color: #7352ff
}

nav.navbar-inverse .navbar-nav>.active>a, 
nav.navbar-inverse .navbar-nav>.active>a:hover, 
nav.navbar-inverse .navbar-nav>.active>a:focus,
.scroll-to-top i {
    background-color: #7352ff;
}

nav .navbar-brand span,
header .info-header h1,
.advices-learning .info-section-advice h2,
.advices-learning .div-img h3 span,
.collection .collection-box-info span,
.what-will-get .about-what-will-get h2 span,
.what-will-get .box h3 {
    color: #fff
}

nav.navbar-inverse .navbar-nav>li>a:hover, 
nav.navbar-inverse .navbar-nav>li>a:focus,
nav .navbar-nav>.active>a:hover,
nav .navbar-toggle,
.scroll-to-top i:hover{
    background-color:#32325d
}

header .info-header p,
.advices-learning .info-section-advice p,
.advices-learning .div-img p,
.collection .collection-box-info p,
.what-will-get .about-what-will-get p,
.what-will-get .box p {
    color: #b3b2b2
}
/* End Grouping Element */





/**************************** For Sign up Page ****************************/
/* Start Main Style */
body {background: #484848}

body .overlay {background: rgba(0, 0, 0, .6)}

body .for-background-img {
    background: url("../../img/header/sheep.png") no-repeat;
    background-position: center;
    background-size: cover;
}
/* End Main Style */

/* Start info */
.info h2 {color: #fff !important}

.info h2 span {color: #7352ff}

.info p {color: #b3b2b2}
/* End info */

/* Start Form */
.sign-in {color: #b3b2b2}

.sign-in a {color: #428bca}

.sign-in a:hover {color: #b3b2b2} */
/* End Form */
